<div class="container-fluid">
    <div class="jumbotron text-center" style="margin-top: 5%;">
        <div class="row">
            <div class="col-md-4 col-xs-12">Wolf</div>
            <div class="col-md-4 col-xs-12">Wolf</div>
            <div class="col-md-4 col-xs-12">Wolf</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <input type="button" class="col-md-4 btn btn-danger btn-lg btn-block" value="Attack" />
            <div class="col-md-4"></div>
        </div>
        <div class="row" style="margin-top: 5%;">
            <div class="col-md-4"></div>
            <h2 class="col-md-4 text-center">Saving Throws</h2>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-outline-danger col-md-2 col-xs-12 saving-throw">Strength</button>
            <button type="button" class="btn btn-outline-success col-md-2 col-xs-12 saving-throw">Dexterity</button>
            <button type="button" class="btn btn-outline-warning col-md-2 col-xs-12 saving-throw">Constitution</button>
            <button type="button" class="btn btn-outline-primary col-md-2 col-xs-12 saving-throw">Intelligence</button>
            <button type="button" class="btn btn-outline-secondary col-md-2 col-xs-12 saving-throw">Wisdom</button>
            <button type="button" class="btn btn-outline-info col-md-2 col-xs-12 saving-throw">Charisma</button>
        </div>
    </div>
</div>